<head>
	<title>{{ title }}</title>

	<script src="/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/assets/jquery-ui/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/jquery-ui/jquery-ui.min.css" />

	<script src="/assets/leaflet/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" src="/assets/leaflet/leaflet.css"></script>

</head>