<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Determining the Base Cluster of these Users</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/assets/jquery-ui/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/jquery-ui/jquery-ui.min.css" />

	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">

	<script src="/assets/leaflet/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" src="/assets/leaflet/leaflet.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
	<body>
	

<h1>I should also put a markdown parser in this</h1>

it's in the bin directory!

it needs a slash!

So only the default one works... huh.
	
	<footer>
	Copyright Jennings Anderson 2015
</footer>
	</body>
</html>