<!DOCTYPE html>
<html lang="en">
	<head>
	<title>This is a test</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/assets/jquery-ui/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/jquery-ui/jquery-ui.min.css" />

	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">

	<script src="/assets/leaflet/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" src="/assets/leaflet/leaflet.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
	<body>

	<header>
	Main Header

	<nav>
		Main Navigation
	</nav>
</header>

	

<p>This is my sample file</p>

<div id="map" style="width:100%;height:600">

Here's some new stuff

	</body>
	<footer>
	Copyright Jennings Anderson 2015
</footer>
</html>
