<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Determining the Base Cluster of these Users</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/assets/jquery-ui/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/jquery-ui/jquery-ui.min.css" />

	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">

	<script src="/assets/leaflet/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" src="/assets/leaflet/leaflet.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
	<body>
	

<div id="map" style="width:100%; height:600px;"></div>

<script type="javascript">
document.onready(function(){

	console.log('hi')

	var map = L.map('map');

	L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
	}).addTo(map)

	L.marker([51.5, -0.09]).addTo(map)
     .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
     .openPopup();
})
</script>
	
	<footer>
	Copyright Jennings Anderson 2015
</footer>
	</body>
</html>